@charset "utf-8";
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  width: .55rem;
}
.header .menu span {
  display: block;
  width: .12rem;
  height: .12rem;
  border-radius: 50%;
  background: #000000;
}
.footer {
  border-top: 1px solid #ebebeb;
  padding: 0px .50rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -3.75rem;
  width: 7.5rem;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer a {
  display: block;
  text-align: center;
}
.footer a img {
  height: .53rem;
  width: auto;
}
.footer a p {
  font: 0.2rem/0.44rem "微软雅黑";
  color: #909090;
}
body {
  background: #f0f0f0;
}
.header {
  height: .88rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f26b11;
  padding: 0.4rem .23rem 0px;
}
.header em {
  display: block;
  height: .29rem;
  width: .17rem;
  background: url(../images/arrowLeft2.jpg) no-repeat;
  background-size: .17rem .29rem;
}
.header h3 {
  font: 0.35rem/0.29rem "微软雅黑";
  color: white;
}
.header .menu span {
  background: white;
}
.main .top {
  background: white;
}
.main .top img {
  width: 100%;
  height: auto;
}
.main .top h5 {
  font: 0.3rem/0.49rem "微软雅黑";
  color: #333333;
  margin: .21rem .45rem 0rem .36rem;
}
.main .top p {
  font: 0.3rem/0.78rem Arial;
  color: #e4393f;
  margin: 0rem .45rem .08rem .36rem;
}
.main .top p span {
  font: 0.22rem/0.78rem "微软雅黑";
  color: #868686;
  margin-left: .16rem;
}
.main .shuxing {
  background: white;
  padding-left: .22rem;
  padding-right: .23rem;
}
.main .shuxing p {
  font: 0.26rem/0.99rem "微软雅黑";
  border-bottom: 1px solid #f1f1f1;
}
.main .shuxing p a {
  display: inline-block;
  width: .66rem;
  height: .35rem;
  border-radius: .03rem;
  font: 0.2rem/0.35rem "微软雅黑";
  border: 1px solid #b12818;
  color: #b12818;
  text-align: center;
  margin: 0rem .15rem 0rem .29rem;
}
.main .shuxing p span {
  font: 0.24rem/0.35rem "微软雅黑";
}
.main .shuxing p em {
  display: inline-block;
  width: .35rem;
  height: .21rem;
  background: url(../images/arrow.jpg);
  margin-left: 2.04rem;
  background-size: .35rem .21rem;
}
.main .shuxing .num {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.main .shuxing .num p {
  font: 0.26rem/1.09rem "微软雅黑";
}
.main .shuxing .num .number {
  width: 2.1rem;
  height: .58rem;
  border: 1px solid #333333;
  border-radius: .02rem;
  display: flex;
  justify-content: space-between;
}
.main .shuxing .num .number div {
  width: .62rem;
  height: .58rem;
  border-right: 1px solid #333333;
  text-align: center;
  line-height: .58rem;
}
.main .shuxing .num .number input {
  width: .78rem;
  height: .58rem;
}
.main .shuxing .num .number div:nth-child(3) {
  border-left: 1px solid #333333;
  border-right: none;
}
.main .shuxing .shu h3 {
  font: 0.25rem/0.86rem "微软雅黑";
  color: #454545;
}
.main .shuxing .shu p {
  font: 0.24rem/0.78rem "微软雅黑";
  color: #cacaca;
}
.main .shuxing .shu p a {
  display: inline-block;
  width: 1.5rem;
  height: .6rem;
  font: 0.28rem/0.6rem "微软雅黑";
  text-align: center;
  color: white;
  background: #e1e1e3;
  border: none;
}
.main .shuxing .shu p .active {
  color: white;
  background: #e4393f;
}
.details {
  background: white;
  margin-top: .21rem;
}
.details h3 {
  font: 0.3rem/1rem "微软雅黑";
  color: #454545;
  margin-left: .23rem;
}
.details img {
  width: 100%;
}
.foot {
  margin-top: .3rem;
  background: white;
  padding: 0rem .22rem;
  margin-bottom: 1.15rem;
}
.foot h3 {
  font: 0.3rem/0.9rem "微软雅黑";
  color: #464646;
  border-bottom: 1px solid #eeeeee;
}
.foot .m {
  font: 0.26rem/0.57rem Arial;
  color: #666666;
  margin-top: .1rem;
}
.foot .on {
  font: 0.26rem/0.59rem "微软雅黑";
  color: #444444;
}
.foot .pice {
  margin: .16rem 0rem .09rem .09rem;
}
.foot .pice img {
  width: 1.54rem;
  height: auto;
}
.foot .time {
  font: 0.26rem/0.77rem Arial;
  border-bottom: 1px solid #eeeeee;
  color: #989898;
}
.foot .flex {
  display: flex;
  justify-content: space-between;
}
.foot .flex p {
  font: 0.24rem/0.9rem "微软雅黑";
  color: #989898;
}
.foot .flex p em {
  display: inline-block;
  width: .17rem;
  height: .16rem;
  background: url(../images/jiantou_03.jpg) no-repeat;
  background-size: .17rem .16rem;
}
.bottom {
  display: flex;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 7.5rem;
  left: 50%;
  margin-left: -3.75rem;
}
.bottom .news {
  display: inline-block;
  height: 1.15rem;
  width: 1.73rem;
  text-align: center;
  background: white;
}
.bottom .news img {
  width: .56rem;
  height: .53rem;
  margin-top: .30rem;
}
.bottom .news p {
  text-align: center;
  font: 0.18rem/0.36rem "微软雅黑";
  color: #868686;
}
.bottom .news em {
  display: block;
  width: .24rem;
  height: .24rem;
  border-radius: 50%;
  background: #e6383a;
  color: white;
  text-align: center;
  position: absolute;
  font: 0.19rem/0.24rem Arial;
  left: .86rem;
  top: 0.17rem;
}
.bottom .back {
  width: 2.9rem;
  display: inline-block;
  height: 1.15rem;
  font: 0.3rem/1.15rem "微软雅黑";
  text-align: center;
  color: white;
  background: #f26b11;
}
.bottom .pink {
  background: #e43a3d;
}
